html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.canvas {
	border: 1px solid #ccc;
	height: 600px;
	position: relative;
	width: 100%;
}

.object {
	left: 0;
	position: absolute;
	top: 0;
	will-change: left;
	will-change: top;
}

.object.red {
	background-color: #c44;
}

.circle {
	border-radius: 10px;
	height: 20px;
	width: 20px;
}